body {
		background: rgb(147, 184, 116);
}

.container {
		background: rgb(236, 235, 232);
		margin-left: auto;
		margin-right: auto;
		padding: 20px;
		margin-top: 15px;
		margin-bottom: 110px;
		width: 50%;
		border-radius: 20px;
		position: relative;
		top: 40px;
		font-style: normal;
		line-height: 125%;
}
h1 {position: fixed;
top: -15px;
text-align: center;
width: 100%;
z-index: 1;
}
.title {position: fixed;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	text-align: center;
	color: rgb(113, 123, 105);
	letter-spacing: 2px;
	font-family: arial;
	font-weight: bold;
	height: 30px;
	padding: 7px;
	z-index: 1;
}
.header {
		background: rgb(236, 235, 232);
		border-bottom: 3px;
		text-align: center;

		top:0px;
		font-style: normal;
}
#methods{ font-size: 20px;
	text-align: center;
}
img{
	background: black;
	text-align: center;
	text-overflow: right;
}
h2{
	text-align: center;
	background: rgb(202, 221, 187);
	border: solid rgb(113, 123, 105) 3px;
	color: rgb(113, 123, 105);
	font-size: 20px;
	font-weight: bolder;
}
#top { background:  rgb(236, 235, 232);
	position: fixed;
	width: 1400px;
	border-radius: 20px 10px;
}
a {
    background-color: rgb(236, 235, 232);
    border: outset;
    color: rgb(113, 123, 105);
    border-color: rgb(113, 123, 105);
    padding: 5px 3px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    width: 32%;
    height: 56px;
    box-sizing: border-box;
    vertical-align: top;
}
#home_button{text-align: center;
	text-transform: uppercase;
	font-style: italic;
	padding: 10px;
}