body {
		background: white;
		margin-top: 10px;
		margin-bottom: 10px;
}
h2{
	background: white;
	border-color: black dashed;
}
li{
	display: inline;
	border-color:black;
	border-width:3px;
	border-style: outset;
	height: 200px;
	position: relative;
	background-color: white;
    padding: 15px 32px;
    margin: 4px 10px;
}

h3{	position: relative;
	top: 100px;
	margin: 60px;
}
.poem{background: black;
	width: 550px;
	position: absolute;
	left: 15%;
	z-index: -1;
}