body {
		background: dodgerblue;
		color: darkviolet;

}
#poem { background: linen;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		margin-top: auto;
		color: darkviolet;
		border-style: outset;
		border-color: skyblue;
		border-width:10px;
		width: 786px;
		height: 324px;

}
h1	{
		font-family: Times;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
}
#one{text-align: center;
	position: relative;
	top:0;
	left: 0;
	width: 258px;
	border: 3px solid darkviolet;
	
}
#two{text-align:center;
	position: relative;
	top:-78px;
	left: 261px;
	width: 258px;
	border: 3px solid darkviolet;
}
#three{text-align:center;
	position: relative;
	top:-156px;
	left:522px;
	width: 258px;
	border: 3px solid darkviolet;
}
#four{text-align:center;
	position: relative;
	top:-159px;
	left: 0px;
	width: 258px;
	border: 3px solid darkviolet;
}
#five{text-align:center;
	position: relative;
	top:-237px;
	left: 261px;
	width: 258px;
	border: 3px solid darkviolet;
}
#six{text-align:center;
	position: relative;
	top:-315px;
	left: 522px;
	width: 258px;
	border: 3px solid darkviolet;
}
#seven{text-align:center;
	position: relative;
	top:-318px;
	left: 0px;
	width: 258px;
	border: 3px solid darkviolet;
}
#eight{text-align:center;
	position: relative;
	top:-396px;
	left: 261px;
	width: 258px;
	border: 3px solid darkviolet;
}
#nine{text-align:center;
	position: relative;
	top:-474px;
	left: 522px;
	width: 258px;
	border: 3px solid darkviolet;
}
#ten{text-align:center;
	position: relative;
	top:-477px;
	left: 261px;
	width: 258px;
	border: 3px solid darkviolet;
}
#name{text-align:center;
	position: relative;
	top:-480px;
	left: 261px;
	width: 258px;
	border: 3px solid darkviolet;
}