body {
		background: white;
		color: black;
		position: fixed;

}
#poem { background: white;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		margin-top: auto;
		color: black;
		border-style: outset;
		border-color: black;
		border-width:10px;
		width: 786px;
		height: 324px;

}
#one{position: relative;
	top:0;
	left: 0;
	width: 258px;
	border: 3px solid black;
	
}
#two{position: relative;
	top:-78px;
	left: 261px;
	width: 258px;
	border: 3px solid black;
}
#three{
	position: relative;
	top:-156px;
	left:522px;
	width: 258px;
	border: 3px solid black;
}
#four{
	position: relative;
	top:-159px;
	left: 0px;
	width: 258px;
	border: 3px solid black;
}
#five{
	position: relative;
	top:-237px;
	left: 261px;
	width: 258px;
	border: 3px solid black;
}
#six{
	position: relative;
	top:-315px;
	left: 522px;
	width: 258px;
	border: 3px solid black;
}
#seven{
	position: relative;
	top:-318px;
	left: 0px;
	width: 258px;
	border: 3px solid black;
}
#eight{
	position: relative;
	top:-396px;
	left: 261px;
	width: 258px;
	border: 3px solid black;
}
#nine{
	position: relative;
	top:-474px;
	left: 522px;
	width: 258px;
	border: 3px solid black;
}
#ten{
	position: relative;
	top:-477px;
	left: 261px;
	width: 258px;
	border: 3px solid black;
}
#name{
	position: relative;
	top:-480px;
	left: 261px;
	width: 258px;
	border: 3px solid black;
}