body {
		background: grey;
		color: orange
}
#poem { background: white;
		margin-left: auto;
		margin-right: auto;
		width: 1220px;
		height:76px;
		margin-top: 250px;
		color: blue;
		border-style: outset;
		border-color: blue;
		border-width:10px;
}
h1	{
		font-family: Times;
		float: center;
		margin-right: auto;
		margin-left: auto;
}
#one{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
	
}
#two{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#three{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#four{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#five{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#six{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#seven{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#eight{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#nine{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#ten{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#eleven{float: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#name{float: left;
position: relative;
bottom: -30px;
}