body {
		background: white;
		margin-top: 10px;
		margin-bottom: 10px;
}
h1	{
		background: white;
		position: fixed;
		width: auto;
}
h2{
	background: white;
	border-color: black dashed;
}
li{
	display: inline;
	border-color:black 
	border-width:3px;
	border-style: outset;
	height: 200px;
	position: relative;
	top: 15px;
	background-color: white;
    padding: 15px 32px;
    margin: 4px 10px;
}

h3{	position: relative;
	top: 35px;
}
.poem{background: black;
	width: 550px;
	position: absolute;
	left: 450px;
	z-index: -1
}