body {
		background: grey;
		color: orange
}
#poem { background: white;
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		margin-bottom: 20px;
		margin-top: 20px;
		color: blue;
		border-style: outset;
		border-color: blue;
		border-width:10px;
}
h1	{
		font-family: Times;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
}
#one{text-align: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
	
}
#two{text-align: center;
	border-width: 2px;
	border-color: grey;
	border-style: dashed;
}
#three{text-align: right;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#four{text-align: center;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#five{text-align: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#six{text-align: center;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#seven{text-align: right;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#eight{text-align: center;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#nine{text-align: left;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#ten{text-align: center;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#eleven{text-align: right;
	border-style: dashed;
	border-width: 2px;
	border-color: grey;
}
#name{text-align: center;
}