body {
		margin-top: 100px;
		margin-bottom: 10px;
}
h1	{
		font-family: Times;
		margin-right: auto;
		margin-left: auto;
		position: fixed;
		top: 0;
		width: 100%;
		background-color: white;
		z-index: 1;
		margin:0 ;
}
h2{
	border-color:   dashed;
	letter-spacing: 25px;
}
li{
	display: inline;
	border-width:3px;
}

h3{	position: relative;
	top: 35px;
	letter-spacing: 10px;
}
#poem{font-family: cursive;}